.auth-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .auth {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    .auth-fields {
      border-radius: 35px;
      padding: 40px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      h1 {
        font-size: 28px;
        line-height: 1.5;
        min-width: 100%;
        text-align: center;
      }
      .field {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        &:hover {
          border: none;
        }
        .input-field {
          border: none;
          border-radius: 10px;
          min-width: 50%;
          height: 50px;
          padding: 10px;
        }
        .create-auth-button {
          min-width: 40%;
          border: none;
          background-color: #fff;
          border-radius: 15px;
          padding: 10px 40px;
          font-weight: 100;
          margin-bottom: 20px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .change-button-login {
        position: absolute;
        bottom: 0;
        padding: 10px 60px;
        background-color: #fff;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
        }
        &:hover {
          padding-bottom: 20px;
          cursor: pointer;
          text-decoration: underline;
        }
        h2 {
          margin: 0;
          line-height: 1.5;
          font-weight: 100;
        }
      }
    }
  }
}
